{% load flatpage_menu %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="/site_media/admin/jquery-1.7.1.min.js"></script>
    <link href="/site_media/admin/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/site_media/admin/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
{% flatpage_menu %}
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
