<html>
<head>
<style type="text/css">
.footer {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
</style>
</head>
<footer class="footer" style="background-color:#8eb1cc;">
<div class="container">
<div style="float: left;"><p class="left"><span>Powered by</span><a href="http://www.djangoproject.com"><img src="/site_media/img/logo_django.png" style="border-radius: 7px; height: 30px;"></img></a>
</div> <div style="float: right;"> <div id="footer-copyright" slyle="float: right;"> &copy; 2012 <a href="http://www.allyourwork.com">Ekaterina Pigott</a>   
</div>

</footer>
</html>
